[submodule "sub_test"]
	path = sub_test
	url = ./sub_test/
[submodule "temporary"]
	path = temporary
	url = https://github.com/rhuanpk/temporary.git
[submodule "flipe124"]
	path = flipe124
	url = https://github.com/flipe124/flipe124.git
[submodule "xpto"]
	path = xpto
	url = https://github.com/rhuanpk/xpto.git
